.bar img{
    height:50px; width:300px; 
}
.bar{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    padding:10px; 
    border-radius: 20px 20px 0 0;
}
.icons, .name{
    font-size: 20px;
    padding-top: 8px;
    padding-right: 40px;
}
.icons i, .name i{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: .4s;
}
.icons i:hover, .name i:hover{
    background-color: rgb(191, 147, 89);
}
.back{
    padding-right: 30px;
}
.chitoge{
    padding-left: 20px;
}
.entire{
    padding-left: 100px;
    padding-right: 100px;
}
body{
    background-color: black;
}
.box{
    background-color: white;
    height:500px;
    border-radius: 20px;
}
.textbox button img{
   height:30px; width:30px; border-radius: 50px;
   transition:.2s; cursor: pointer;
}
.textbox button img:hover{
    transform:scale(1.1);
}
.textbox button{
    border-radius: 60px; border:none;
    background-color: black;
}
.textbox{
    border-radius: 10px;
    padding:5px;
    padding-left: 30px;
    padding-right: 30px;
    border: 3px solid #525252;
    background-color: black;
    display:flex; justify-content: space-between;
}
.box2{
    padding-right: 10px;
    padding-left: 10px; 
}
.textbox input{
    border:none; outline:none;
    background-color: black; color:white;
    font-weight: bold;
}
.box3{
    padding-left: 30px;
    padding-right: 30px;
    height:330px;
    overflow:hidden;
    overflow-y:scroll;
}
#list li{
    background-color: rgb(76, 207, 234);
    padding:10px;
    max-width: 200px;
    margin:10px 0;
    border-radius: 10px 10px 0px 10px;
}
.received{
    background-color: rgb(162, 218, 79);
    padding:10px;
    max-width: 220px;
    border-radius: 0px 10px 10px 10px;
}
.sent1, .sent2{
    padding-left: 75%;
}
ul{
    list-style: none;
}
